
/* 
    Created on : 4 nov 2025, 11:25:48 a.m.
    Author     : Ángel Ruíz García - 248171
*/

@font-face {
  font-family: 'Pokemon';
  src: url('fonts/Pokemon Solid.ttf') format('truetype');
}

body {
    font-family: 'Pokemon', sans-serif;
    background-color: #cc322a;
    color: black;
}

.formPokemon {
    background-color: #a7b9d3;
    padding: 5px;
}