
/* 
    Created on : 4 nov 2025, 11:25:48 a.m.
    Author     : Ángel Ruíz García - 248171
*/

@font-face {
  font-family: 'Pokemon';
  src: url('fonts/Pokemon Solid.ttf') format('truetype');
}

body {
    font-family: 'Pokemon', sans-serif;
    background-color: #dc0a2d;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Pokedex {
    background-color: #00d7fc;
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border: 5px solid #dedede;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Pokedex > h1 {
    color: #ffcb05;
}

input, button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: #003129;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #00251f;
}

a.btnVerPokemon, a.btnVolver {
    display: inline-block;
    margin-top: 15px;
    background: #003129;
    color: #dedede;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

a.btnVerPokemon:hover, a.btnVolver:hover {
    background: #00251f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #dedede;
}

.pokemon {
    width: 70%;
    height: 70%;
}